= render "./layouts/header"
.top-main.pt-3
  .top-main-container
    .border-bottom.mt-3.pb-2 
      %h3 今週の重賞
    .main-race-card.mt-2
      .text-area.left
        %span 秋の女王決定戦
        %h2 エリザベス情報杯
        %p 11月10日(日) 京都11R 芝2200M 発走時刻 15:40
      .text-area.right
        %p 出馬表
        %p 掲示板
      #carousel-1.carousel.slide
        %ol.carousel-indicators
          %li.active{"data-slide-to" => "0", "data-target" => "#carousel-1"}
          %li{"data-slide-to" => "1", "data-target" => "#carousel-1"}
          %li{"data-slide-to" => "2", "data-target" => "#carousel-1"}
        .carousel-inner.img-fluid
          .carousel-item.active
            = image_tag "armond.jpg", class: "d-block w-100"
          .carousel-caption.d-none.d-md-block
            %h1 First slide label
            %p Nulla vitae elit libero, a pharetra augue mollis interdum.
          .carousel-item
            = image_tag "kurono.jpg", class: "d-block w-100"
          .carousel-caption.d-none.d-md-block
            %h1 First slide label
            %p Nulla vitae elit libero, a pharetra augue mollis interdum.
          .carousel-item
            = image_tag "deep.jpg", class: "d-block w-100"
          .carousel-caption.d-none.d-md-block
            %h1 First slide label
            %p Nulla vitae elit libero, a pharetra augue mollis interdum.
        %a.carousel-control-prev{"data-slide" => "prev", href: "#carousel-1", role: "button"}
          %span.carousel-control-prev-icon{"aria-hidden" => "true"}
          %span.sr-only Previous
        %a.carousel-control-next{"data-slide" => "next", href: "#carousel-1", role: "button"}
          %span.carousel-control-next-icon{"aria-hidden" => "true"}
          %span.sr-only Next
    .border-bottom.mt-5.pb-2 
      %h3 管理人予想
    .card-deck
      .card-list.row
        .col-sm-6.pt-3
          .card.expectation
            =image_tag "kurono.jpg",class:"card-img-top"
            .card-body
              %h5.card-title エリザベス女王杯の結果
              %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
              %a.btn.btn-primary{href: "#"} 記事を読む
        .col-sm-6.pt-3
          .card.result
            =image_tag "kurono.jpg",class:"card-img-top"
            .card-body
              %h5.card-title エリザベス女王杯の予想
              %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
              %a.btn.btn-primary{href: "#"} 記事を読む
        .col-sm-6.pt-3
          .card.expectation
            =image_tag "kurono.jpg",class:"card-img-top"
            .card-body
              %h5.card-title エリザベス女王杯の結果
              %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
              %a.btn.btn-primary{href: "#"} 記事を読む
        .col-sm-6.pt-3
          .card.expectation
            =image_tag "kurono.jpg",class:"card-img-top"
            .card-body
              %h5.card-title エリザベス女王杯の結果
              %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
              %a.btn.btn-primary{href: "#"} 記事を読む



