.registration-form{
  background-color: #f5f5f5;
  h1{
    font-size: 25px;
    font-family: bold;
  }
  span{
    font-size: 1rem;
    color: red;
  }
  .main-top{
    border-bottom: 1px #E5E4E2;
  }
  .required{
    background-color: #ea352d;
    border-radius: 2px;
    color: white;
    font-size: 12px;
    padding: 3px 3px;
  }
  .textbox{
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 5%;
    text-align: left;
  }
  .submit-button{
    height: 40px;
    width: 60%;
    &:hover{
    cursor: pointer;
    }
  }
}