// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-main-container{
  width: 60%;
  margin: 0 auto;
  height: 1000px;
  h3{
    font-size: 1.5rem;
  }
  .main-race-card{
    background-color: #F5f5f5;
    img{
      width: 100%;
      height: 350px;
      border: 4px solid #D8D8D8;
    }
    .right{
      margin: 20px 20px 0 auto;
      a{
        color:white;
      }
    }
    span{
      font-size: 1rem;
      color: red;
    }
    h2{
      font-size: 2rem;
    }
  }
  .article-deck{
    .article-list{
      display: flex;
      flex-wrap: wrap;
      .article{
        width: 45%;
        border: 1px solid #cccc;
        background-color: #F5f5f5;
      }
    }
    h2{
      font-size: 1.2rem;
    }
    p{
      font-size: 1rem;
    }
    .article-img-top{
      height: 180px;
      width: 100%;
  }
    .article-body{
    background-color: #F5f5f5;
    }
  }
  .media{
    background-color: #F5f5f5;
    border: 1px solid #ccc;
    .media-body{
      p{
        font-size: 1rem;
      }
      h2{
        font-size: 1.5rem;
      }
    }
    img{
      height: 120px;
      width: 280px;
    }
    .btn{
      display: block;
      margin: 15px auto 0 20px;
    a{
      color:white;
      }
    }
  }
  .article-list{
    .article{
      h2{
        font-size: 1.2rem;
        font-weight: 700;
      }
      p{
        font-size: 0.8rem;
      }
      .btn-sm{
        margin-left: 70%;
        margin-bottom: 10px;
      }
    }
  }
}