= render "./layouts/header"
.container
  .card-deck.row.mt-3
    .card
      .card-header.text-white.bg-primary.m-1
        既に会員登録済みの方
      .card-body
        %form
          .form-group
            %label{for: "exampleInputEmail1"} メールアドレス (ログインID)
            %input#exampleInputEmail1.form-control{"aria-describedby" => "emailHelp", placeholder: "Enter email", type: "email"}/
          .form-group
            %label{for: "exampleInputPassword1"} パスワード
            %input#exampleInputPassword1.form-control{placeholder: "Password", type: "password"}/
          %button.btn.btn-primary{type: "submit"} ログイン
    .card
      .card-header.text-white.bg-success.m-1
        会員登録がまだの方
      .card-body
        %h5.card-title 新規会員登録へ
        %p.card-text UMAUMA会員でない方は、こちらから無料会員登録をお願いします。
        %a.btn.mt-3.btn-success{href: "/users/sign_up"} 会員登録(無料)
  .text-main
    %h1.text-center.font-weight-bold.font-size.text-danger.m-3 UMAUMA無料会員の3大特典！
  .card-deck.row.mt-3
    .card
      .card-header.bg-light.text-black
        馬券収支管理ツールが使える！
      .card-body
        %h5.card-title Special title treatment
        %p.card-text With supporting text below as a natural lead-in to additional content.
    .card
      .card-header.bg-light.text-black
        お気に入りの馬を登録してチェック！
      .card-body
        %h5.card-title Special title treatment
        %p.card-text With supporting text below as a natural lead-in to additional content.
    .card
      .card-header.bg-light.text-black
        掲示板に自分の予想を書き込める！
      .card-body
        %h5.card-title Special title treatment
        %p.card-text With supporting text below as a natural lead-in to additional content.

