.header
  .container.d-flex.align-items-center
    %h1.mr-auto UMAUMA
    %p.mx-3
    - if user_signed_in?
      = link_to "#{current_user.nickname}さん", mypage_path(current_user.id)
    .login.mx-3
      - unless user_signed_in?
        .not_login
          = link_to "ログイン/新規登録", new_user_session_path, class:"login"
      - else
        .log_in
          = link_to"ログアウト", destroy_user_session_path, method: :delete, class:"logout"
.nav-border
  .nav-inner
    %ul.nav
      %li.nav-item
        %a.nav-link.active{href: root_path} Top
      %li.nav-item
        %a.nav-link{href: "#"} レース
      %li.nav-item
        %a.nav-link{href: "#"} 予想
      %li.nav-iem
        %a.nav-link{href: new_betting_path} 収支管理ツール
      %li.nav-item.right
        -# = link_to "マイページ", mypage_path(current_user.id),class: "nav-link"

        

